body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("images/nature.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #f6f7f9;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:center;
}

.lineUpButton{
  left:250px;
}

.topbar{
  height:32px;
  background-color: #42a703;
  text-align: center;
}
.title{
  font-size: 50px;
  text-align: center;
}

.dancer{
  border:5px solid blue;
  border-radius:100%;
  background-size: 98%;
  width:106px; 
  height:106px;
  display: block;
  position:absolute;
}

.lameDog{
  background-size: 98%;
  width:106px; 
  height:106px;
  display: block;
  position:absolute;
  background-image: url("images/lamedog.gif");
}

.butterfly{
  background-size: 100%;
  width:106px; 
  height:100px;
  display: block;
  position:absolute;
  background-image: url("images/butterfly.gif");
}

.cat{
  background-size: 95%;
  width:180px; 
  height:250px;
  display: block;
  position:absolute;
  background-image: url("images/cat.gif");
}

.rotate90{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}